<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="<%=@description%>">
  <meta name="keywords" content="<%=@keywords%>">
</head>
<body>
<div id="mainBox">
	<div id="header">
		<div id="logo"></div>
		<div id="header_pre_text">Агентство путешествий</div>
		<div id="header_text"><a href="/">Клуб НИКА</a></div>
		<div id="address_block">
			<div id="header_phone">Звоните: <span class="phone">(843) 203-57-58</span></div>
			<div id="header_address">Ждем Вас: <span class="address">Казань, ул. Декабристов, 156, оф. 16</></div>
		</div>
		<div id="header_slogan">Незабываемые впечатления от отдыха!</div>
	</div>
	<div id="left_menu">
		<ul class="menu">
			<li class="menuitem"><%=link_to_unless_current "Главная", :controller => "home", :action => "index"%></li>
			<li class="menuitem"><%=link_to_unless_current "Как нас найти", :controller => "pages", :action => "contacts"%></li>
		</ul>
			
	</div>
	<div id="main_page">
		<div id="pagefield">
			<%= yield %>
		</div>
	</div>
	
	<div id="footer">
		&copy; Все права защищены 2013
	</div>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter12594604 = new Ya.Metrika({id:12594604,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/12594604" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27945665-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
